node_modules/
*.mjs.map
testes/*.mjs.out
testes/boleto_pdf.mjs
testes/montar_puro.*
testes/boleto.pdf
testes/boleto.png
testes/package*.json
testes/atende_puro.*
testes/seguir_puro.*
testes/emitidos_puro.*
testes/qr.mjs
testes/boleto_novo.pdf
testes/boleto_sem_pix.pdf
